.formField {
  position: relative;
  margin-top: 30px;
}

/* .form-field:not(:last-child) {
    margin-bottom: 28px;
} */

.formLabel {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(calc(-100% + -4px));
}

.formInput {
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.formInput:focus-visible {
  outline: 1px solid #2196f3;
}
